body{
  background-color: #414345;
}
.container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card{
    width:16rem;
    border-radius:12px;
    height:360px;
    box-shadow: 0 1px rgba(red, green, blue, alpha);
    overflow: hidden;
    margin-top: 30px;
    background-color: white;
}
.card img{
    width:100%;
    height:200px;
    background-color: rgb(136, 136, 136);
}
.iklan{
    width:32rem;
    border-radius:12px;
    height: 200px;
    box-shadow: 0 1px rgba(red, green, blue, alpha);
    overflow: hidden;
    margin-top: 10px;
    background-color: white;
}
.iklan img{
    width:100%;
    height:230px;
    background-color: rgb(137, 137, 138);
}
.category{
    width:4rem;
    height:50px;
    border-radius:100%;
    margin-top: 10px;
}
.category img{
    width:100%;
    border-radius:100%;
    height:50px;
}

         .btn-grad {background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center; 
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         